/* CUSTOM PROPS */
:root {
    --text-color: #242A45;
    --red-bg: #FA5959;
    --blue-bg: #5267DF;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Rubik", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--blue-bg);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
}

.button-red-small {
    padding: 12px 32px 11px 34px;
    background-color: var(--red-bg);
    text-align: right;
    font-size: 13px;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
}

.button-red-small:hover {
    background-color: #fff;
    border: 1px solid var(--red-bg);
    color: var(--red-bg);
}

.button-red-small:active {
    opacity: 0.6;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
    padding-top: 48px;
    padding-bottom: 110px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

/* LOGO */
.logo {
    display: inline-block;
}
.logo__img {
    width: 150px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--red-bg);
}

.sitenav__link:active {
    opacity: 0.6;
}