/* CUSTOM PROPS */
:root {
    --text-color: #242A45;
    --red-bg: #FA5959;
    --blue-bg: #5267DF;
    --gray-bg: #F7F7F7;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Rubik", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: var(--blue-bg);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
}

.button-red-small {
    padding: 12px 32px 11px 34px;
    background-color: var(--red-bg);
    text-align: right;
    font-size: 13px;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
}

.button-red-small:hover {
    background-color: #fff;
    border: 2px solid var(--red-bg);
    color: var(--red-bg);
}

.button-red-small:active {
    opacity: 0.6;
}

.button-blue {
    padding: 10px 24px;
    font-size: 14px;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
}

.button-blue:hover {
    background-color: #fff;
    border: 2px solid var(--blue-bg);
    color: var(--blue-bg);
}

.button-blue:active {
    opacity: 0.6;
}

.button-gray {
    padding: 10px 24px;
    font-size: 14px;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.75);
    background-color: var(--gray-bg);
}

.button-gray:hover {
    border: 2px solid #5B6074;
    background-color: #fff;
}

.button-gray:active {
    opacity: 0.6;
}

.button-red-big {
    padding: 8px 24px;
    background-color: var(--red-bg);
    font-size: 14px;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
}

.button-red-big:hover {
    border: 2px solid var(--red-bg);
    color: var(--red-bg);
    background-color: #fff;
}

.button-red-big:active {
    opacity: 0.6;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
    padding-top: 48px;
    padding-bottom: 110px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

/* LOGO */
.logo {
    display: inline-block;
}
.logo__img {
    width: 150px;
    height: 25px;
    object-fit: cover;
}

/* SITENAV */
.sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--red-bg);
}

.sitenav__link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-top: 0;
    padding-bottom: 80px;
    background-image: url("../img/Rectangle.svg");
    background-repeat: no-repeat;
    background-position: right calc(50% - 600px) top 105px;  
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__inner {
    flex-shrink: 0; 
    width: 540px;
    margin-right: 64px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--text-color);
    font-size: 48px;
    font-style: normal;
    line-height: 52px; /* 108.333% */
    letter-spacing: -0.15px;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 32px;
    color: rgba(36, 42, 69, 0.5);;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.hero__button-wrapper {
    display: flex;
    align-items: center;
}

.hero__button:not(:last-child) {
    margin-right: 16px;
}

.hero__img {
    flex-shrink: 1;
    width: 575px;
    height: 380px;
    object-fit: cover;
}


/* FEATURES */
.features {
    padding-top: 80px;
    padding-bottom: 150px;
    background-image: url("../img/Rectangle.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% - 600px) top 520px;
}

.features__inner {
    text-align: center;
}

.features__title {
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-style: normal;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
}

.features__text {
    width: 540px;
    margin-top: 0;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    color: rgba(36, 42, 69, 0.5);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.features__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__item:not(:last-child) {
    margin-right: 90px;
}

.features__link {
    text-decoration: none;
    color: rgba(36, 42, 69, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 106.25% */
    letter-spacing: 0.533px;
}

.features__link:hover {
    color: var(--red-bg);
}

.features__link:active {
    opacity: 0.6;
}

.features___line {
    width: 730px;
    margin: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.features__info {
    display: flex;
    align-items: flex-start;
    margin-top: 72px;
}

.features__img {
    flex-shrink: 1;
    width: 540px;
    height: 345px;
    object-fit: cover;
}

.features__content {
    flex-shrink: 0;
    width: 445px;
    margin-top: 60px;
    margin-left: 125px;
}

.content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-style: normal;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
}

.content__text {
    margin-top: 0;
    margin-bottom: 32px;
    color: rgba(36, 42, 69, 0.5);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}



/* EXTENSION */
.extension {
    padding-top: 70px;
    padding-bottom: 150px;
}

.extension__container {
    text-align: center;
}

.extension__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 32px;
    font-style: normal;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
}

.extension__text {
    width: 540px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(36, 42, 69, 0.5);
}

.extension__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.extension__item {
    width: 280px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
    border-radius: 15px;
}

.extension__item:not(:last-child) {
    margin-right: 34px;
}

.extension__item:nth-child(2) {
    margin-top: 40px;
}

.extension__item:nth-child(3) {
    margin-top: 80px;
}

.card {
    padding-top: 50px;
    padding-bottom: 34px;
}

.card__img {
    width: 105px;
    height: 105px;
    object-fit: contain;
}

.card__title {
    margin-top: 32;
    margin-bottom: 6px;
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
}

.card__text {
    margin-top: 0;
    margin-bottom: 24px;
    padding-bottom: 32px;
    color: rgba(36, 42, 69, 0.5);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border-bottom: 4px dotted rgba(73, 93, 207, 0.20);
}

/* QUESTION */

.question__inner {
    text-align: center;
    padding-bottom: 150px;
}

.question__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
}

.question__text {
    width: 540px;
    margin-top: 0;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(36, 42, 69, 0.5);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.question__list {
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
    list-style: none;
}

.question__item {
    width: 540px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 19px;
    padding-top: 19px;
    border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.question__item:nth-child(1) {
    border-top: 1px solid rgba(36, 42, 69, 0.15);
}



.question__item-text {
    margin: 0;
    margin-right: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /
}

.question__link {
    display: inline-block;
}

.question__icon {
    width: 16px;
    height: 8px;
    margin-right: 24px;
    object-fit: contain;
}


/* CTA */
.cta {
    background-color: var(--blue-bg);
}

.cta__inner {
    padding-top: 60px;
    padding-bottom: 75px;
    text-align: center;
    color: #fff;
}

.cta__subtitle {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 13px;
    font-style: normal;
    line-height: 40px; /* 307.692% */
    letter-spacing: 5px;
}

.cta__title {
    width: 408px;
    margin-top: 0;
    margin-bottom: 36px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    font-style: normal;
    line-height: 40px; /* 125% */
    letter-spacing: -0.1px;
}

.cta__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__input {
    width: 300px;
    padding: 10px 20px;
    margin-right: 16px;
    border-radius: 5px;
    border: 0;
    color: rgba(36, 42, 69, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--text-color);
}

.site-footer__container {
    display: flex;
    align-items: center;
    color: #fff;
}

.site-footer__logo {
    margin-right: 65px;
}

.site-footer__sitenav-link {
    color: #fff;
}

.site-footer__links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;
}

.socials__item:not(:last-child) {
    margin-right: 24px;
}

.socials__link {
    color: #fff;
    text-decoration: none;
}

.socials__link:hover {
    color: var(--red-bg);
}
